# Imports

In [1]:
import pandas as pd
import requests
import nbimporter
from nbimporter import NotebookLoader

loader = NotebookLoader('.')
module = loader.load_module('data_scraping_functions')

from data_scraping_functions import scraping_data_open_and_games

# Definitions

In [2]:
year = 2016
competition = "open"
base_path = "C:/Users/Zi/Documents/data-science-crossfit/"

# Data Scraping

In [3]:
# Scrape data for the 'open' competition and the current year
df_open_year = scraping_data_open_and_games(year, competition)
# Add a new column 'genderId' with the value of 'divisionId' for consistency
df_open_year['genderId'] = df_open_year['divisionId']
# Drop irrelevant columns
df_open_year = df_open_year.drop(columns=['postCompStatus', 'profilePicS3key', 'countryShortCode', 'teamCaptain', 'divisionId'])
# Add a new column 'year' with the current year
df_open_year['year'] = year
# Print the consolidated DataFrame
df_open_year

,competitorId,competitorName,firstName,lastName,status,gender,countryOfOriginCode,countryOfOriginName,regionId,regionName,affiliateId,affiliateName,age,height,weight,overallRank,overallScore,genderId,year
0,2725,Noah Ohlsen,Noah,Ohlsen,ACT,M,,,15,South East,2509,Peak 360 CrossFit,25,,,1,41,1,2016
1,11435,Richard Froning Jr.,Richard,Froning Jr.,ACT,M,,,6,Central East,3220,CrossFit Mayhem,28,,,2,85,1,2016
2,1690,Travis Mayer,Travis,Mayer,ACT,M,,,15,South East,7104,CrossFit UNTD,25,,,3,86,1,2016
3,34796,Scott Panchik,Scott,Panchik,ACT,M,,,6,Central East,7991,CrossFit Mentality,28,,,4,93,1,2016
4,18670,Kyle Frankenfeld,Kyle,Frankenfeld,ACT,M,,,3,Australia,8,CrossFit Moorabbin,26,,,5,97,1,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308659,789094,Leila Correa,Leila,Correa,ACT,F,,,8,Latin America,6298,,51,,,ACT,0,6,2016
308660,838813,Hana Menchan,Hana,Menchan,ACT,F,,,15,South East,10358,,29,,,ACT,0,2,2016
308661,140063,Tammy Venti,Tammy,Venti,ACT,F,,,11,North East,2664,CrossFit Merrick,41,,,ACT,0,13,2016
308662,556870,Sharon Brown,Sharon,Brown,ACT,F,,,11,North East,15995,CrossFit Cape Cod,49,,,ACT,0,4,2016
308663,574901,Megan Evans,Megan,Evans,ACT,F,,,10,North Central,4606,CrossFit Raw Steel,25,,,ACT,0,2,2016

# Exports

In [5]:
df_open_year.to_csv(base_path + "csv_files/version_1_raw_data/df_open_" + str(year) + ".csv", index=False)