# Imports

In [1]:
import pandas as pd
import numpy as np
import math

# Definitions

In [2]:
base_path = "C:/Users/Zi/Documents/data-science-crossfit/"

# Data Cleaning

### Games

In [3]:
df_games_conso = pd.read_csv(base_path + "csv_files/version_1_raw_data/df_games_conso.csv")

In [4]:
df_games_conso.isnull().sum()

competitorId             0
competitorName           0
firstName                0
lastName                 1
status                   0
gender                   0
countryOfOriginCode    724
countryOfOriginName    736
regionId               886
regionName             886
affiliateId            802
affiliateName          802
age                      0
height                 169
weight                 164
overallRank              0
overallScore             0
genderId                 0
year                     0
dtype: int64

In [5]:
df_games_conso.dtypes

competitorId             int64
competitorName          object
firstName               object
lastName                object
status                  object
gender                  object
countryOfOriginCode     object
countryOfOriginName     object
regionId               float64
regionName              object
affiliateId            float64
affiliateName           object
age                      int64
height                  object
weight                  object
overallRank             object
overallScore            object
genderId                 int64
year                     int64
dtype: object

##### Fix CountryName and RegionName

In [6]:
# Fix CountryName

df_games_conso.loc[df_games_conso['countryOfOriginCode'] == 'BY', 'countryOfOriginName'] = 'Belarus'
df_games_conso.loc[df_games_conso['countryOfOriginCode'] == 'RU', 'countryOfOriginName'] = 'Russian Federation'

canada_regions = ['Canada East', 'Canada West']
df_games_conso.loc[df_games_conso['regionName'].isin(canada_regions), 'countryOfOriginName'] = 'Canada'

united_states_regions = ['Northern California', 'Southern California', 'Central East', 'Mid Atlantic',
                         'North Central', 'North East', 'North West', 'South Central', 'South East', 'South West']
df_games_conso.loc[df_games_conso['regionName'].isin(united_states_regions), 'countryOfOriginName'] = 'United States'

oceania_regions = ['Australia']
df_games_conso.loc[df_games_conso['regionName'].isin(oceania_regions), 'countryOfOriginName'] = 'Australia'

# Fix RegionName

north_america_countries = ['Canada', 'United States', 'Cayman Islands', 'Jamaica'] #4
df_games_conso.loc[df_games_conso['countryOfOriginName'].isin(north_america_countries), 'regionName'] = 'North America'

central_america_countries = ['Belize', 'Costa Rica', 'Dominican Republic', 'El Salvador', 'Guatemala', 'Honduras', #6
                             'Mexico', 'Nicaragua', 'Panama'] #3
df_games_conso.loc[df_games_conso['countryOfOriginName'].isin(central_america_countries), 'regionName'] = 'Central America'

south_america_countries = ['Argentina', 'Bahamas', 'Barbados', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador', #8
                           'Guyana', 'Jamaica', 'Kosovo', 'Morocco', 'Paraguay', 'Peru', 'Saint Lucia', 'Suriname', #8
                           'Trinidad and Tobago', 'Uruguay', 'Venezuela'] #3
df_games_conso.loc[df_games_conso['countryOfOriginName'].isin(south_america_countries), 'regionName'] = 'South America'

europe_countries = ['Andorra', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Cyprus', #8
                    'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', #9
                    'Ireland', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Norway', 'Poland', #9
                    'Portugal', 'Romania', 'Russia', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', #9
                    'Turkey', 'Ukraine', 'United Kingdom'] #3
df_games_conso.loc[df_games_conso['countryOfOriginName'].isin(europe_countries), 'regionName'] = 'Europe'

africa_countries = ['Algeria', 'Angola', 'Botswana', 'Egypt', 'Ghana', 'Kenya', 'Mauritius', 'Mozambique', 'Namibia', #9
                    'Nigeria', 'Senegal', 'South Africa', 'Tunisia', 'Zimbabwe'] #5
df_games_conso.loc[df_games_conso['countryOfOriginName'].isin(africa_countries), 'regionName'] = 'Africa'

asia_countries = ['Afghanistan', 'Bahrain', 'Brunei Darussalam', 'Cambodia', 'China', 'Egypt', 'India', 'Indonesia', #8
                  'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan', 'Korea, Republic of', 'Kuwait', 'Lebanon', 'Malaysia', #9
                  'Oman', 'Pakistan', 'Palestinian Territory', 'Philippines', 'Qatar', 'Saudi Arabia', 'Singapore', #7
                  'Sri Lanka', 'Syrian Arab Republic', 'Turkey', 'United Arab Emirates', 'Viet Nam', 'Russian Federation', #6
                  'United Arab Emirates'] #1
df_games_conso.loc[df_games_conso['countryOfOriginName'].isin(asia_countries), 'regionName'] = 'Asia'

oceania_countries = ['Australia', 'New Zealand', 'Papua New Guinea', 'Samoa', 'Tonga'] #5
df_games_conso.loc[df_games_conso['countryOfOriginName'].isin(oceania_countries), 'regionName'] = 'Oceania'

south_america_regions = ['Latin America']
df_games_conso.loc[df_games_conso['regionName'].isin(south_america_regions), 'regionName'] = 'South America'

In [7]:
df_games_conso.isnull().sum()

competitorId             0
competitorName           0
firstName                0
lastName                 1
status                   0
gender                   0
countryOfOriginCode    724
countryOfOriginName    493
regionId               886
regionName             455
affiliateId            802
affiliateName          802
age                      0
height                 169
weight                 164
overallRank              0
overallScore             0
genderId                 0
year                     0
dtype: int64

In [8]:
region_counts = df_games_conso.groupby('countryOfOriginName')['regionName'].nunique()

region_counts[region_counts >= 2]

Series([], Name: regionName, dtype: int64)

In [9]:
df_games_conso[(df_games_conso['countryOfOriginName'].notnull()) & (df_games_conso['regionName'].isnull())]

Empty DataFrame
Columns: [competitorId, competitorName, firstName, lastName, status, gender, countryOfOriginCode, countryOfOriginName, regionId, regionName, affiliateId, affiliateName, age, height, weight, overallRank, overallScore, genderId, year]
Index: []

In [10]:
df_games_conso[(df_games_conso['regionName'].notnull()) & (df_games_conso['countryOfOriginName'].isnull())]

,competitorId,competitorName,firstName,lastName,status,gender,countryOfOriginCode,countryOfOriginName,regionId,regionName,affiliateId,affiliateName,age,height,weight,overallRank,overallScore,genderId,year
574,11391,Númi Snær Katrínarson,Númi Snær,Katrínarson,CUT,M,NaN,NaN,7.0,Europe,1009.0,CrossFit Nordic,31,182 cm,83 kg,24,471,1,2012
580,18543,Frederik Aegidius,Frederik,Aegidius,CUT,M,NaN,NaN,7.0,Europe,NaN,NaN,24,174 cm,84 kg,30,382,1,2012
582,10822,Mikko Aronpää,Mikko,Aronpää,CUT,M,NaN,NaN,7.0,Europe,NaN,NaN,27,178 cm,92 kg,32,374,1,2012
583,2615,Daniel Hershey,Daniel,Hershey,CUT,M,NaN,NaN,2.0,Asia,NaN,NaN,25,74 in,225 lb,33,357,1,2012
586,8743,David Levey,David,Levey,CUT,M,NaN,NaN,1.0,Africa,NaN,NaN,33,178 cm,91 kg,36,323,1,2012
596,42803,Orlando Trejo,Orlando,Trejo,WD,M,NaN,NaN,8.0,South America,756.0,CrossFit Peru,23,162 cm,72 lb,46,0,1,2012
597,18588,Annie Thorisdottir,Annie,Thorisdottir,ACT,F,NaN,NaN,7.0,Europe,2025.0,CrossFit Reykjavík,21,170 cm,152 lb,1,1062,2,2012
621,26295,Caroline Fryklund,Caroline,Fryklund,CUT,F,NaN,NaN,7.0,Europe,1343.0,CrossFit Kalmar,26,173 cm,67 kg,25,426,2,2012
626,55121,Katrin Tanja Davidsdottir,Katrin Tanja,Davidsdottir,CUT,F,NaN,NaN,7.0,Europe,NaN,NaN,18,169 cm,152 lb,30,377,2,2012
631,19501,Thuridur Erla Helgadottir,Thuridur Erla,Helgadottir,CUT,F,NaN,NaN,7.0,Europe,443.0,CrossFit Sport,19,164 cm,59 kg,35,319,2,2012
637,50900,Christen Wagner,Christen,Wagner,CUT,F,NaN,NaN,2.0,Asia,952.0,CrossFit Asia,24,66 in,145 lb,41,230,2,2012
638,9624,Tarasa Barnett,Tarasa,Barnett,CUT,F,NaN,NaN,8.0,South America,1244.0,CrossFit Cayman,27,67 in,140 lb,42,192,2,2012
639,11068,Rika Geyser,Rika,Geyser,WD,F,NaN,NaN,1.0,Africa,2132.0,Cape CrossFit,32,182 cm,82 kg,43,178,2,2012
656,18543,Frederik Aegidius,Frederik,Aegidius,ACT,M,NaN,NaN,7.0,Europe,2025.0,CrossFit Reykjavík,26,174 cm,84 kg,15,612,1,2013
666,32052,Lacee Kovacs,Lacee,Kovacs,ACT,M,NaN,NaN,7.0,Europe,NaN,NaN,26,174 cm,187 lb,25,564,1,2013
671,10822,Mikko Aronpaa,Mikko,Aronpaa,ACT,M,NaN,NaN,7.0,Europe,1757.0,CrossFit Tampere,29,178 cm,92 kg,30,495,1,2013
673,8743,David Levey,David,Levey,CUT,M,NaN,NaN,1.0,Africa,NaN,NaN,35,178 cm,91 kg,32,388,1,2013
684,42803,Orlando Trejo,Orlando,Trejo,CUT,M,NaN,NaN,8.0,South America,756.0,CrossFit Peru,25,162 cm,72 lb,43,220,1,2013
687,21658,Michael Mogard,Michael,Mogard,WD,M,NaN,NaN,2.0,Asia,4485.0,Reebok CrossFit 673,29,69 in,178 lb,46,159,1,2013
688,151906,Mikko Salo,Mikko,Salo,ACT,M,NaN,NaN,7.0,Europe,3128.0,CrossFit Varasto,33,175 cm,85 kg,0,0,1,2013
689,2536,Samantha Briggs,Samantha,Briggs,ACT,F,NaN,NaN,7.0,Europe,4098.0,CrossFit Black Five,31,170 cm,135 lb,1,920,2,2013
705,26295,Caroline Fryklund,Caroline,Fryklund,ACT,F,NaN,NaN,7.0,Europe,1343.0,CrossFit Kalmar,28,173 cm,67 kg,17,656,2,2013
712,55121,Katrin Tanja Davidsdottir,Katrin Tanja,Davidsdottir,ACT,F,NaN,NaN,7.0,Europe,NaN,NaN,20,169 cm,152 lb,24,585,2,2013
726,17774,Carla Nunes da Costa,Carla,Nunes da Costa,CUT,F,NaN,NaN,1.0,Africa,2132.0,Cape CrossFit,37,174 cm,70 kg,38,309,2,2013
727,26672,Nicole Tainatongo Monforte,Nicole,Tainatongo Monforte,CUT,F,NaN,NaN,2.0,Asia,1824.0,CrossFit 671,24,65 in,150 lb,39,304,2,2013
730,46105,Courtney Modecki,Courtney,Modecki,CUT,F,NaN,NaN,8.0,South America,NaN,NaN,30,62 in,129 lb,42,240,2,2013
755,24309,Lukas Högberg,Lukas,Högberg,ACT,M,NaN,NaN,7.0,Europe,2290.0,CrossFit Solid,23,183 cm,211 lb,23,533,1,2014
758,81616,Björgvin Karl Guðmundsson,Björgvin Karl,Guðmundsson,ACT,M,NaN,NaN,7.0,Europe,4860.0,CrossFit Hengill,21,178 cm,190 lb,26,517,1,2014
764,173837,Jonne Koski,Jonne,Koski,CUT,M,NaN,NaN,7.0,Europe,3128.0,CrossFit Varasto,19,171 cm,190 lb,32,384,1,2014
771,28040,Eric Carmody,Eric,Carmody,CUT,M,NaN,NaN,2.0,Asia,NaN,NaN,26,71 in,210 lb,39,331,1,2014
772,93488,Emmanuel Maldonado,Emmanuel,Maldonado,CUT,M,NaN,NaN,8.0,South America,6374.0,CrossFit SJU,24,5 in,195 lb,40,237,1,2014
774,249055,Quinton Z Van Rooyen,Quinton Z,Van Rooyen,CUT,M,NaN,NaN,1.0,Africa,NaN,NaN,28,175 cm,187 lb,42,186,1,2014
777,18588,Annie Thorisdottir,Annie,Thorisdottir,ACT,F,NaN,NaN,7.0,Europe,2025.0,CrossFit Reykjavík,24,170 cm,152 lb,2,878,2,2014
791,120480,Kristin Holte,Kristin,Holte,ACT,F,NaN,NaN,7.0,Europe,372.0,CrossFit Oslo,28,162 cm,59 kg,16,644,2,2014
794,18274,Bjork Odinsdottir,Bjork,Odinsdottir,ACT,F,NaN,NaN,7.0,Europe,1009.0,CrossFit Nordic,26,160 cm,63 kg,19,616,2,2014
814,101492,Celestie Engelbrecht,Celestie,Engelbrecht,CUT,F,NaN,NaN,1.0,Africa,NaN,NaN,26,168 cm,134 lb,39,244,2,2014
815,17329,Marlene Andersson,Marlene,Andersson,CUT,F,NaN,NaN,2.0,Asia,9717.0,CrossFit 965,30,165 cm,130 lb,40,244,2,2014
817,13503,Wanda Brenton,Wanda,Brenton,WD,F,NaN,NaN,8.0,South America,2244.0,CrossFit 7 Mile,39,65 in,140 lb,42,32,2,2014

In [11]:
df_games_conso['countryOfOriginName'].unique()

array([nan, 'United States', 'New Zealand', 'Australia', 'Finland',
       'Canada', 'Iceland', 'Japan', 'Cayman Islands', 'South Africa',
       'United Kingdom', 'Sweden', 'United Arab Emirates', 'Norway',
       'Switzerland', 'Spain', 'Denmark', 'France', 'Germany', 'Brazil',
       'Russian Federation', 'Hungary', 'Mexico', 'Ireland', 'China',
       'Latvia', 'Poland', 'Lithuania', 'Egypt', 'Slovenia', 'Argentina',
       'Colombia', 'Belgium', 'Guatemala', 'Slovakia', 'Greece', 'Turkey',
       'Luxembourg', 'Croatia', 'Jordan', 'Venezuela', 'Netherlands',
       'Nigeria', 'Austria', 'Ukraine', 'Bosnia and Herzegovina',
       'Palestinian Territory', 'Chile', 'Tunisia', 'Zimbabwe', 'Kuwait',
       'Paraguay', 'Romania', 'Belize', 'Portugal', 'Dominican Republic',
       'Panama', 'Philippines', 'Honduras', 'Kenya', 'Estonia',
       'Bulgaria', 'Uruguay', 'Tonga', 'Guyana', 'Angola', 'Iran',
       'Bahrain', 'Czech Republic', 'Ecuador', 'Belarus', 'Malaysia',
       'Jamaica', 'Korea, Republic of', 'Trinidad and Tobago', 'Morocco',
       'Bahamas', 'El Salvador', 'Lebanon', 'Saudi Arabia', 'Peru',
       'Indonesia', 'Ghana', 'Kosovo', 'Costa Rica', 'Barbados', 'Israel',
       'Algeria', 'Qatar', 'Malta', 'Iraq', 'Cyprus', 'Senegal', 'Italy',
       'Botswana', 'Saint Lucia', 'Mozambique', 'Cambodia', 'Afghanistan',
       'Nicaragua', 'Pakistan', 'India', 'Singapore', 'Bolivia',
       'Sri Lanka', 'Andorra', 'Papua New Guinea', 'Viet Nam', 'Oman',
       'Namibia', 'Suriname', 'Syrian Arab Republic', 'Brunei Darussalam',
       'Samoa', 'Serbia', 'Mauritius'], dtype=object)

In [12]:
df_games_conso['regionName'].unique()

array([nan, 'North America', 'Oceania', 'Europe', 'Asia', 'Africa',
       'South America', 'Central America'], dtype=object)

##### Fix CountryCode and RegionId

In [13]:
# Fix CountryCode
labels, uniques = pd.factorize(df_games_conso['countryOfOriginName'])
labels += 1
df_games_conso['countryOfOriginCode'] = labels
df_games_conso.loc[df_games_conso['countryOfOriginName'].isnull(), 'countryOfOriginCode'] = 0

# Fix RegionId

df_games_conso.loc[df_games_conso['regionName'] == 'North America', 'regionId'] = 1
df_games_conso.loc[df_games_conso['regionName'] == 'Central America', 'regionId'] = 2
df_games_conso.loc[df_games_conso['regionName'] == 'South America', 'regionId'] = 3
df_games_conso.loc[df_games_conso['regionName'] == 'Europe', 'regionId'] = 4
df_games_conso.loc[df_games_conso['regionName'] == 'Africa', 'regionId'] = 5
df_games_conso.loc[df_games_conso['regionName'] == 'Asia', 'regionId'] = 6
df_games_conso.loc[df_games_conso['regionName'] == 'Oceania', 'regionId'] = 7
df_games_conso.loc[df_games_conso['regionName'].isnull(), 'regionId'] = 0
df_games_conso['regionId'] = df_games_conso['regionId'].astype(np.int64)

In [14]:
df_games_conso.isnull().sum()

competitorId             0
competitorName           0
firstName                0
lastName                 1
status                   0
gender                   0
countryOfOriginCode      0
countryOfOriginName    493
regionId                 0
regionName             455
affiliateId            802
affiliateName          802
age                      0
height                 169
weight                 164
overallRank              0
overallScore             0
genderId                 0
year                     0
dtype: int64

In [15]:
df_games_conso[(df_games_conso['countryOfOriginCode'] != 0) & (df_games_conso['countryOfOriginName'].isnull())]

Empty DataFrame
Columns: [competitorId, competitorName, firstName, lastName, status, gender, countryOfOriginCode, countryOfOriginName, regionId, regionName, affiliateId, affiliateName, age, height, weight, overallRank, overallScore, genderId, year]
Index: []

In [16]:
df_games_conso[(df_games_conso['regionId'] != 0) & (df_games_conso['regionName'].isnull())]

Empty DataFrame
Columns: [competitorId, competitorName, firstName, lastName, status, gender, countryOfOriginCode, countryOfOriginName, regionId, regionName, affiliateId, affiliateName, age, height, weight, overallRank, overallScore, genderId, year]
Index: []

In [17]:
sorted(df_games_conso['regionId'].unique())

[0, 1, 2, 3, 4, 5, 6, 7]

In [18]:
sorted(df_games_conso['countryOfOriginCode'].unique())

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115]

##### Fix Height and Weight plus add BMI

In [19]:
# Fix Height
def clean_height(height):
    if pd.isna(height):
        return float('nan')
    elif 'cm' in height:
        # Extract the numeric value before 'cm' and convert it to float
        height_cm = float(height.split('cm')[0].strip())
        return math.ceil(height_cm)
    elif 'in' in height:
        # Extract the numeric value before 'in' and convert it to float
        height_in = float(height.split('in')[0].strip())
        # Convert the height from inches to centimeters
        height_cm = height_in * 2.54
        return math.ceil(height_cm)
    else:
        return float('nan')
df_games_conso['height'] = df_games_conso['height'].apply(clean_height)

# Fix Weight
def clean_weight(weight):
    if pd.isna(weight):
        return float('nan')
    elif 'kg' in weight:
        # Extract the numeric value before 'kg' and convert it to float
        weight_kg = float(weight.split('kg')[0].strip())
        return math.ceil(weight_kg)
    elif 'lb' in weight:
        # Extract the numeric value before 'lb' and convert it to float
        weight_lb = float(weight.split('lb')[0].strip())
        # Convert the weight from 'lb' to 'kg'
        weight_kg = weight_lb / 2.205
        return math.ceil(weight_kg)
    else:
        return float('nan')
df_games_conso['weight'] = df_games_conso['weight'].apply(clean_weight)

# Add BMI
df_games_conso['bmi'] = df_games_conso['weight'] / ((df_games_conso['height'] / 100) ** 2)

In [20]:
df_games_conso.dtypes

competitorId             int64
competitorName          object
firstName               object
lastName                object
status                  object
gender                  object
countryOfOriginCode      int64
countryOfOriginName     object
regionId                 int64
regionName              object
affiliateId            float64
affiliateName           object
age                      int64
height                 float64
weight                 float64
overallRank             object
overallScore            object
genderId                 int64
year                     int64
bmi                    float64
dtype: object

##### Fix overallRank and overallScore

In [21]:
# Fix overallRank
df_games_conso['overallRank'] = df_games_conso['overallRank'].replace("DQ", -1)
df_games_conso['overallRank'] = df_games_conso['overallRank'].astype(np.int64)

# Fix overallScore
df_games_conso['overallScore'] = df_games_conso['overallScore'].str.replace(':', '')
df_games_conso['overallScore'] = df_games_conso['overallScore'].astype(np.int64)

In [22]:
df_games_conso.dtypes

competitorId             int64
competitorName          object
firstName               object
lastName                object
status                  object
gender                  object
countryOfOriginCode      int64
countryOfOriginName     object
regionId                 int64
regionName              object
affiliateId            float64
affiliateName           object
age                      int64
height                 float64
weight                 float64
overallRank              int64
overallScore             int64
genderId                 int64
year                     int64
bmi                    float64
dtype: object

In [23]:
conditions = {
    455677: 38.0,
    592472: 39.0,
    1019212: 40.0,
    901702: 39.0,
    975774: 40.0
}
df_games_conso.loc[(df_games_conso['competitorId'].isin(conditions.keys())) & (df_games_conso['year'] == 2021), 'overallRank'] = df_games_conso['competitorId'].map(conditions)

df_games_conso.loc[(df_games_conso['competitorId'] == 975774) & (df_games_conso['year'] == 2018), 'overallRank'] = 40

df_games_conso.loc[(df_games_conso['competitorId'] == 3200) & (df_games_conso['year'] == 2015), 'overallRank'] = 40

df_games_conso.loc[(df_games_conso['competitorId'] == 14354) & (df_games_conso['year'] == 2014), 'overallRank'] = 40

df_games_conso.loc[(df_games_conso['competitorId'] == 151906) & (df_games_conso['year'] == 2013), 'overallRank'] = 47

In [24]:
df_games_conso[(df_games_conso['overallScore'] == 0) & (df_games_conso['overallRank'] == 0) & (df_games_conso['year'] != 2023)]

Empty DataFrame
Columns: [competitorId, competitorName, firstName, lastName, status, gender, countryOfOriginCode, countryOfOriginName, regionId, regionName, affiliateId, affiliateName, age, height, weight, overallRank, overallScore, genderId, year, bmi]
Index: []

### Open