# Imports

In [1]:
import pandas as pd
import requests
import nbimporter
from nbimporter import NotebookLoader

loader = NotebookLoader('.')
module = loader.load_module('data_scraping_functions')

from data_scraping_functions import scraping_data_open_and_games

# Definitions

In [2]:
year = 2013
competition = "open"
base_path = "C:/Users/Zi/Documents/data-science-crossfit/"

# Data Scraping

In [3]:
# Scrape data for the 'open' competition and the current year
df_open_year = scraping_data_open_and_games(year, competition)
# Add a new column 'genderId' with the value of 'divisionId' for consistency
df_open_year['genderId'] = df_open_year['divisionId']
# Drop irrelevant columns
df_open_year = df_open_year.drop(columns=['postCompStatus', 'profilePicS3key', 'countryShortCode', 'teamCaptain', 'divisionId'])
# Add a new column 'year' with the current year
df_open_year['year'] = year
# Print the consolidated DataFrame
df_open_year

,competitorId,competitorName,firstName,lastName,status,gender,countryOfOriginCode,countryOfOriginName,regionId,regionName,affiliateId,affiliateName,age,height,weight,overallRank,overallScore,genderId,year
0,11435,Rich Froning,Rich,Froning,ACT,M,,,6,Central East,3220,CrossFit Mayhem,25,,,1,28,1,2013
1,151906,Mikko Salo,Mikko,Salo,ACT,M,,,7,Europe,3128,,33,,,2,53,1,2013
2,124483,Josh Bridges,Josh,Bridges,ACT,M,,,16,Southern California,600,CrossFit Invictus,30,,,3,59,1,2013
3,34796,Scott Panchik,Scott,Panchik,ACT,M,,,6,Central East,1814,,25,,,4,84,1,2013
4,21343,Kenneth Leverich,Kenneth,Leverich,ACT,M,,,16,Southern California,1700,,25,,,5,113,1,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84807,148114,Christa Goodall,Christa,Goodall,ACT,F,,,3,Australia,1334,,28,,,ACT,0,2,2013
84808,214598,Michaela Palová,Michaela,Palová,ACT,F,,,7,Europe,0,,23,,,ACT,0,2,2013
84809,119175,Emily Willner,Emily,Willner,ACT,F,,,2,Asia,4166,CrossFit Tel Aviv,22,,,ACT,0,2,2013
84810,203804,Justine Gaynor,Justine,Gaynor,ACT,F,,,3,Australia,374,CrossFit Horizons,23,,,ACT,0,2,2013
84811,155633,Luz Ocampo,Luz,Ocampo,ACT,F,,,2,Asia,4474,,17,,,ACT,0,2,2013

# Exports

In [5]:
df_open_year.to_csv(base_path + "csv_files/version_1_raw_data/df_open_" + str(year) + ".csv", index=False)