# Imports

In [1]:
import pandas as pd
import requests
import nbimporter
from nbimporter import NotebookLoader

loader = NotebookLoader('.')
module = loader.load_module('data_scraping_functions')

from data_scraping_functions import scraping_data_open_and_games

# Definitions

In [2]:
year = 2012
competition = "open"
base_path = "C:/Users/Zi/Documents/data-science-crossfit/"

# Data Scraping

In [3]:
# Scrape data for the 'open' competition and the current year
df_open_year = scraping_data_open_and_games(year, competition)
# Add a new column 'genderId' with the value of 'divisionId' for consistency
df_open_year['genderId'] = df_open_year['divisionId']
# Drop irrelevant columns
df_open_year = df_open_year.drop(columns=['postCompStatus', 'profilePicS3key', 'countryShortCode', 'teamCaptain', 'divisionId'])
# Add a new column 'year' with the current year
df_open_year['year'] = year
# Print the consolidated DataFrame
df_open_year

,competitorId,competitorName,firstName,lastName,status,gender,countryOfOriginCode,countryOfOriginName,regionId,regionName,affiliateId,affiliateName,age,height,weight,overallRank,overallScore,genderId,year
0,11435,Rich Froning,Rich,Froning,ACT,M,,,6,Central East,1941,CrossFit Faith,24,,,1,41,1,2012
1,5783,Sean Thomson,Sean,Thomson,ACT,M,,,9,Mid Atlantic,1312,,26,,,2,144,1,2012
2,21343,Kenneth Leverich,Kenneth,Leverich,ACT,M,,,16,Southern California,1700,,24,,,3,197,1,2012
3,47661,Dan Bailey,Dan,Bailey,ACT,M,,,6,Central East,1941,CrossFit Faith,28,,,4,251,1,2012
4,42803,Orlando Trejo,Orlando,Trejo,ACT,M,,,8,Latin America,756,CrossFit Peru,24,,,5,272,1,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39239,84989,Jennifer Murray,Jennifer,Murray,ACT,F,,,6,Central East,0,,42,,,ACT,0,2,2012
39240,36999,Kendra Sullivan,Kendra,Sullivan,ACT,F,,,16,Southern California,800,,29,,,ACT,0,2,2012
39241,77491,Lindsay Nemanich,Lindsay,Nemanich,ACT,F,,,15,South East,0,,28,,,ACT,0,2,2012
39242,85444,jessicq uren,jessicq,uren,ACT,F,,,3,Australia,1709,CrossFit Sanur,26,,,ACT,0,2,2012
39243,76519,Tzarina Longfellow,Tzarina,Longfellow,ACT,F,,,16,Southern California,594,,43,,,ACT,0,2,2012

# Exports

In [5]:
df_open_year.to_csv(base_path + "csv_files/version_1_raw_data/df_open_" + str(year) + ".csv", index=False)